[submodule "chisel_dev/packagehandler"]
	path = dev/packagehandler
	url = https://github.com/Gwins7/packagehandler.git
[submodule "documents"]
	path = documents
	url = https://github.com/Gwins7/smartnic_documents.git

